*{
    margin: 0;
}
.main{
    width: 1400px;
    height: 600px;
    border-radius: 0.2em;
    /* background-color: #bfa; */
    background-image: url(../img/body3.jpg);
    margin: 50px auto;
}

.main-left{
    width: 700px;
    height: 600px;
    /* background-color: aqua; */
    float: left;
}
.main-right{
    width: 700px;
    height: 600px;
    /* background-color: aquamarine; */
    float: left;
}
.right-a{
    width: 400px;
    height: 500px;
    border-radius: 0.2em;
    background-image: url(../img/body3.jpg);
    /* background-color: rgb(255,255,255); */
    margin-left: 150px;
    margin-top: 50px;
    box-shadow: 10px 10px 5px #888888;
}

.h1{
    text-align: center;
    padding-top: 10px;
    color: rgb(255,255,255);
}
/* 表单设置 */
.form{
    width: 400px;
    height: 300px;
    background-image: url(../img/body2.jpg);
    /* background-color: rgb(208,211,216); */
    margin-top: 50px;
}
.right-a1{
    width: 400px;
    height: 250px;
    /* background-color: red; */
}

input{
    width: 250px;
    height: 30px;
    border: 1px solid;
    border-radius: 0.4em;
    margin-top: 20px;
    margin-left: 60px;
    font-size: 18px;
    padding-left: 5px;
}
.right-a2{
    width: 400px;
    height: 50px;
    /* background-color: rgb(6, 21, 226); */
}
button{
    width: 100px;
    height: 40px;
    border: none;
    border: 1px solid;
    border-radius: 0.3em;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 800;
    transition: all 0.6s;
    cursor: pointer;
}
button:hover{
    transform: scale(1.1);
    box-shadow: 0 12px 16px 0 rgba(231, 10, 121, 0.74), 0 17px 50px 0 rgba(233, 14, 222, 0.63);
}