<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="head">
      <div class="head-left">
       <div class="left-a"><a href="">QuanZhan</a></div>
       <div class="left-b">
         <a href="" ><li>学习</li></a>
         <a href="" ><li>文章</li></a>
         <a href="" ><li>视频</li></a>
         <a href="" ><li>付费</li></a>  
       </div>
       
      </div>
      <div class="head-right">
          <div class="right-a">
            <a href="" ><li>资源</li></a>
            <a href="" ><li>社区</li></a>
            <a href="" ><li>加入我们</li></a>
          </div>
          <div class="right-b">
             
          </div>
      </div>
    </div>

  <!-- 中部 -->
    <div id="main">
        <!-- 中间上部 -->
     <div class="main-a">
         <div class="main-a1">
           <p class="main-a1-a">全栈xiaofeng 持续学习,不断深入</p>
         </div>
         <div class="main-a2">
           <form action="" method="" class="form">
                <input type="text" name="" id="" placeholder="搜索" />
            </form>
         </div>
         <div class="main-a3">
            <li>热门</li>
            <a href="">
                <li>科技</li>
            </a>
            <a href="">
                <li>Java</li>
            </a>
            <a href="">
                <li>python</li>
            </a>
            <a href="">
                <li>C/C++</li>
            </a>
            <a href="">
                <li>JavaScript</li>
            </a>
            <a href="">
                <li>HTML/CSS</li>
            </a>
            <a href="">
                <li>GO语言</li>
            </a>
            <a href="">
                <li>PHP</li>
            </a>
            <a href="">
                <li>Linux</li>
            </a>
            <a href="">
                <li>移动端</li>
            </a>
         </div>
            
     </div>
     <!-- 中间下部 -->
     <div class="main-b">
          <div class="main-b1">
           <!-- 上下分开 -->
            <div class="main-b1-a">
                 <h1 class="xiao-title">Java从这里开始</h1>
             <div class="main-b1-b">
               <a href="./course/javaSE/javaSE.html"><img src="./images/JavaSE.png" alt="" style="border-radius: 0.5em;"></a>
             </div>
           <div class="main-b1-b"></div>
           <div class="main-b1-b"></div>
           <div class="main-b1-b"></div>
           <div class="main-b1-b"></div>
           <div class="main-b1-b"></div>
           <div class="main-b1-b"></div>
           <div class="main-b1-b"></div> 
            </div>
            <div class="main-b1-a">
                <h1 class="xiao-title">Python从这里开始</h1>
                <div class="main-b1-b">
                    <a href=""><img src="" alt=""></a>
                </div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div> 
            </div>
            <div class="main-b1-a">
                <h1 class="xiao-title">C/C++从这里开始</h1>
                <div class="main-b1-b">
                    <a href=""><img src="" alt=""></a>
                </div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div>
                <div class="main-b1-b"></div> 
            </div>


          </div>
     </div>
    </div>
    <!-- 底部 -->
    <div id="foot">
     
    </div>
    
</body>
</html>